#try2{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 1000;
    text-align: center;
}

.toRight{
    text-align: end;
}

#try3{
    height: auto;
    width: 300px;

}

.csstohtml{
    height: 300px;
    width: auto;
}

.csstohtml.large{
    height:auto;
    width: 500px;
}

button{
    background-color: green;
    color: white;
    font-size: medium;
    font-weight: 800;
}


/* ------------------css2.html---------------*/

.box{
    border: 2px solid red;
}

#box1,#box2{
    border: 20px solid rgb(115, 125, 198);
    padding: 20px;
    margin: 45px;
}

#ref{
    font-size: 5px;
    font-style: italic;
}



/*-----------------example code---------------*/
.example{
  border: 2px solid rebeccapurple;
  padding: .5em;
}

.block,
.list{
  border: 2px solid blue;
  padding: .5em;
}

#list{
  display: flex;
  list-style: none;
}

.block {
  display: block;
}      
