#try2{
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 1000;
    text-align: center;
}

.toRight{
    text-align: end;
}

#try3{
    height: auto;
    width: 300px;

}

.csstohtml{
    height: 300px;
    width: auto;
}

.csstohtml.large{
    height:auto;
    width: 500px;
}

button{
    background-color: green;
    color: white;
    font-size: medium;
    font-weight: 800;
}


/* ------------------css2.html---------------*/

.box{
    border: 2px solid red;
}

#box1,#box2{
    border: 20px solid rgb(115, 125, 198);
    padding: 20px;
    margin: 45px;
}

#ref{
    font-size: 5px;
    font-style: italic;
}



/*-----------------example code NO. 1---------------*/
.example{
  border: 2px solid rebeccapurple;
  padding: .5em;
}

.block,
.list{
  border: 2px solid blue;
  padding: .5em;
}

#list{
  display: flex;
  list-style: none;
}

.block {
  display: block;
}      

/*-----------------example code NO. 2---------------*/

#p1, #ul1 .lt, .inline{
    border: 2px solid rebeccapurple;
}

#span1, #span2, .item{
    border: 2px solid blue;
}

#ul1{
    display: inline-flex;
    list-style: none;
    padding: 0;
}

.inline{
    display: inline;
}

/*----------------------------------------------------*/
#cssbox{
    margin: 20px;
    padding: 20px;
    background-color: lightblue;
    border: 2px skyblue;
    display: inline-block;

}


.introduction, .main-content, .contact-us{
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #EEEEEE;
}

.introduction{
    background-color: #548CA8;
}

.main-content{
    background-color: #476072;
}

.contact-us{
    background-color: #334257;
}


.highlight{
    background-color: yellow;
}


